body {
  margin: 0;
  background-color: @base-white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: @base-black;
}

img {
  max-width: 100%;
  height: auto;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
