@base-white: #ffffff;
@base-black: #000000;
@base-gray: #f2f2f2;
@base-green: #68b738;
@dark-gray: #444444;
@special-gray: #222222;
@border-gray: #cdcdcd;
@special-border: #e7e7e7;
@another-border: #ebebeb;
@nav-border: #e6e6e6;
@light-black: #111111;
@bg-gray: #eaeaea;
@error-red: #ff8282;
@special-white: #e5e5e5;

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
