.button {
  display: block;
  border: none;
  background-color: @base-green;
  text-transform: uppercase;
  color: @base-white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 280px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: @dark-green;
  }

  &:active {
    background-color: @dark-green;
    color: @transparent-white;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
  }

  &--silver {
    background-color: @base-gray;
    color: @dark-gray;

    &:hover {
      background-color: @another-border;
    }

    &:active {
      background-color: @another-border;
      color: @transparent-dark-gray;
    }
  }

  &--additive {
    @media (min-width: @tablet-width) {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}
