.button {
  display: block;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @base-green;
  text-transform: uppercase;
  color: @base-white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 280px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
  }

  &--silver {
    background-color: @base-gray;
    color: @dark-gray;
  }
}
