.card {
  margin: 19px 18px 25px 20px;
}

.card__main {
  display: flex;
  justify-content: center;
}

.card__product-link {
  align-self: center;
  margin-right: 36px;
}

.card__header-link {
  display: block;
  text-decoration: none;
  width: 76px;
  text-transform: uppercase;
  color: @special-gray;
  line-height: 20px;
}

.card__variable {
  display: flex;
  justify-content: space-between;
  & b,
  & span {
    color: @dark-gray;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
  }
}

.card__button {
  text-decoration: none;
}
