.catalog-additional {
  position: relative;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}


.catalog-additional__item {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-additional__list {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }
}
