.catalog__title {
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__see-more {
  margin-top: 78px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: @light-black;
  margin-bottom: 8px;
}

.catalog__description-more {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @dark-gray;
  margin-bottom: 21px;
}

.catalog__button-all {
  margin-bottom: 50px;
}
