.changes {
  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.changes__bg-wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 370px;
    padding-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    background: none;
  }
}

.changes__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 592px;
    height: 511px;
    top: -250px;
    left: 120px;
  }

  @media (min-width: @desktop-width) {
    width: 592px;
    height: 511px;
    left: 50px;
  }
}
