.comment__area {
  text-transform: uppercase;
  border: 1px solid @special-border;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  line-height: 18px;
  color: @dark-gray;
}

.comment__title {
  margin-bottom: 37px;
}
