.example {
  background-color: @bg-gray;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    background-color: @special-white;
    padding-top: 43px;
    padding-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-gray;
    padding-bottom: 75px;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 700px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}
