.explanation__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.explanation__description {
  margin-bottom: 26px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;

  @media (min-width: @tablet-width) {
    width: 230px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @tablet-width) {
    width: 201px;
  }
}

.explanation__list {
  @media (min-width: @tablet-width) {
    display: grid;
    margin: 0;
    margin-right: 79px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
