.explanation {
  padding-bottom: 53px;

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    border-bottom: 1px solid @nav-border;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-bottom: 55px;
  }
}

.explanation__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.explanation__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  margin: 0;
  padding: 0;
  margin-left: 80px;

  @media (min-width: @tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 111px;
    margin-left: 0;
  }
}

.explanation__list {
  counter-reset: orderedlist;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 122px;
    row-gap: 110px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 0;
    row-gap: 0;
    justify-content: space-between;
  }
}

.explanation__item {
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 26px;
  }

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: @base-green;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    top: 0;
    left: 1px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }

    @media (min-width: @desktop-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.explanation__list li::after {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: -1;
    counter-increment: orderedlist;
    content: counter(orderedlist);
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    top: -40px;
    left: 115px;
    color: @base-gray;
  }
}

.explanation__item--leaf {
  &::before {
    background-image: url("../img/leaf.svg");
    background-repeat: no-repeat;
    background-size: 25px 28px;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    margin-left: -2px;
    margin-top: 2px;
  }
}

.explanation__item--boil {
  &::before {
    background-image: url("../img/boil.svg");
    background-repeat: no-repeat;
    background-size: 29px 31px;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    margin-left: 3px;
    margin-top: 2px;
  }
}

.explanation__item--eat {
  &::before {
    background-image: url("../img/eat.svg");
    background-repeat: no-repeat;
    background-size: 25px 30px;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    top: 2px;
  }
}

.explanation__item--alarm {
  &::before {
    background-image: url("../img/alarm.svg");
    background-repeat: no-repeat;
    background-size: 25px 29px;
    background-position: center;
  }

  br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: -10px;
    top: 2px;
  }
}
