.input-text {
  display: flex;

  span {
    text-transform: uppercase;
    line-height: 18px;
    margin-right: 12px;
    color: @dark-gray;
    align-self: center;
  }

  input {
    flex-grow: 1;
    margin-right: 20px;
    padding-left: 15px;
    padding-top: 13px;
    padding-bottom: 14px;
    text-transform: uppercase;
    line-height: 18px;
    color: @dark-gray;
  }
}


