.input-text {
  display: flex;

  span {
    text-transform: uppercase;
    line-height: 18px;
    margin-right: 12px;
    color: @dark-gray;
    align-self: center;
    margin-left: -1px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-right: 16px;
    }
  }

  input {
    flex-grow: 1;
    padding-left: 13px;
    padding-top: 13px;
    padding-bottom: 12px;
    text-transform: uppercase;
    line-height: 18px;
    color: @dark-gray;
    box-shadow: 0 0 0 1px @special-border;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
    background-color: @base-white;
    font-family: "Oswald", sans-serif;
    font-size: 16px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-top: 2px;
      padding-top: 9px;
      padding-bottom: 10px;
      padding-left: 18px;
    }

    &:hover {
      box-shadow: 0 0 1px @border-gray;
    }

    &:focus {
      box-shadow: 0 0 1px transparent;
      border-color: @dark-gray;
    }

    &--error:focus {
      box-shadow: 0 0 1px transparent;
      border-color: @error-red;
    }
  }
}

.input-text--phone {
  position: relative;

  svg {
    position: absolute;
    fill: @special-gray;
    left: 244px;
    top: 13px;

    @media (min-width: @tablet-width) {
      left: 594px;
      top: 16px;
    }

    @media (min-width: @desktop-width) {
      left: 534px;
      top: 15px;
    }
  }
}

.input-text--email {
  position: relative;

  @media (min-width: @tablet-width) {
    span {
      margin-right: 20px;
    }

    input {
      padding-left: 20px;
    }
  }

  svg {
    position: absolute;
    stroke: @special-gray;
    left: 244px;
    top: 15px;

    @media (min-width: @tablet-width) {
      left: 592px;
      top: 19px;
    }

    @media (min-width: @desktop-width) {
      left: 533px;
      top: 18px;
    }
  }
}

.input-text input:required {
  background-color: @base-white;
}

.input-text--email:focus {
  svg {
    stroke: @base-green;
  }
}

.input-text--phone:focus {
  svg {
    fill: @base-green;
  }
}

.input-text--email svg:active {
  stroke: @base-green;
}

.input-text--phone svg:active {
  fill: @base-green;
} /*на попытки сделать error ругается*/
