
.invitation__main {
  background-color: @base-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  padding-left: 20px;
  padding-right: 20px;

  &--gray {
    background-color: @base-gray;
    margin-left: 0;
    margin-right: 0;
  }
}

.invitation__description {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: @light-black;
}

.invitation__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @dark-gray;
}

.invitation__map {
  img {
    width: 100%;
  }
}
