.main-nav__image {
  display: block;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-nav__button {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: -2px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__moving {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-nav__logo-link {
  @media (max-width: @mobile-width-only) {
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin-top: 23px;
  }

  @media (min-width: @desktop-width) {
    min-width: 202px;
    margin-top: 53px;
  }
}

.main-nav {
  @media (max-width: @mobile-width-only) {
    position: relative;
    padding-top: 10px;
    padding-bottom: 17px;

    &--closed .main-nav__list {
      display: none;
    }

    &--opened .main-nav__list {
      display: block;
      z-index: 2;
    }

    &--nojs {
      margin-bottom: 210px;

      .main-nav__toggle {
        display: none;
      }

      .main-nav__list {
        display: block;
        min-height: 0;
      }

      .main-nav__list-item {
        display: block;
      }
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: @base-white;
  }

  @media (min-width: @tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
  }
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  background: url("../img/open-button.svg") no-repeat;
  width: 24px;
  height: 18px;
  border: none;
  right: 20px;
  top: 21px;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
  border-color: transparent;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: @base-black;
    right: 20px;
    top: 32px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
