.order__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.order__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 226px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-bottom: 66px;
  }
}

.order__catdata {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }
}

.order__form {
  margin: 0;
  padding: 0;
}

.order__result {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      background-color: @mobile-border;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      top: -22px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      background-color: @mobile-border;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      top: 152px;
    }
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @special-border;
    box-sizing: border-box;
    margin-bottom: 75px;
    padding: 25px 27px;
  }
}

.order__choice,
.order__radio {
  display: block;
  margin-bottom: 25px;
}

.order__comments {
  margin-right: 20px;
  border: none;
  margin-bottom: 22px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.order__contacts {
  border: none;
  margin-bottom: 23px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.order__contacts-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.order__contacts-title {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 100vw;
    background-color: @base-green;
    top: 15px;
    left: 46px;
    transform: translateX(50%);

    @media (min-width: @tablet-width) {
      width: 800px;
      left: 400px;
    }

    @media (min-width: @desktop-width) {
      width: 2000px; /*как лучше сделать эти полосы зелёные?*/
      left: 500px;
    }
  }

  @media (max-width: @mobile-width-only) {
    margin-bottom: 35px;
    width: 187px;
    text-align: left;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: @base-green;
      top: 15px;
      left: -371px;
    }
  }
}

.order__additional {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 34px;
  padding: 0;
}

.order__additional-title {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.order__button {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    width: 282px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-bottom: 82px;
  }
}

.order__required {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.order__pet {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 69px;
  }
}

.order__additional-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.order__sending-data {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order__label {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.order__contacts-label {
  &:first-of-type {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}


.order__comment-title {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 100vw;
    background-color: @base-green;
    top: 15px;
    left: -6px;
    transform: translateX(50%);
  }
}
