.order {
  overflow-x: hidden;

  @media (min-width: @tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.order__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 64px;
    margin-bottom: 55px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
    padding-left: 0;
    margin-top: 74px;
  }
}

.order__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 226px;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-bottom: 64px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.order__catdata {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.order__form {
  margin: 0;
  padding: 0;
}

.order__result {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
  padding: 0;
  padding-top: 3px;

  @media (max-width: @mobile-width-only) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      background-color: @mobile-border;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      top: -22px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      background-color: @mobile-border;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      top: 133px;
    }
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @special-border;
    box-sizing: border-box;
    margin-bottom: 75px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 25px 27px;
    padding-top: 29px;
    padding-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 31px;
    padding-bottom: 30px;
  }
}

.order__comments {
  margin-right: 20px;
  border: none;
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
    margin-left: 0;
    margin-right: 0;
  }
}

.order__contacts {
  border: none;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;
    margin-left: 0;
    margin-right: 0;
  }
}

.order__contacts-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.order__additional {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 39px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 66px;
  }
}

.order__additional-title {
  margin-bottom: 38px;
  margin-left: -2px;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    span {
      padding: 0 22px;
      margin-left: -22px;
    }

    &::before {
      top: 18px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
    margin-left: 2px;

    &::before {
      top: 24px;
    }

    span {
      padding: 0 33px;
      margin-left: -35px;
    }
  }
}

.order__button {
  margin-bottom: 21px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 282px;
    margin-bottom: 72px;
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-bottom: 82px;
  }
}

.order__required {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-left: 62px;
    margin-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 82px;
  }
}

.order__pet {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.order__additional-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 114px;
    row-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 95px;
  }
}

.order__sending-data {
  @media (min-width: @tablet-width) {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.order__label {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.order__contacts-label {
  &:first-of-type {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.order__radio {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 23px;
    }
  }
}

.order__contacts-title {
  margin-bottom: 34px;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    span {
      padding: 0 20px;
      margin-left: -23px;
      margin-right: 77px;
    }

    &::before {
      top: 16px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 1px;
    margin-bottom: 76px;

    &::before {
      top: 26px;
    }

    span {
      padding: 0 33px;
      margin-left: -35px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    margin-bottom: 76px;

    &::before {
      top: 22px;
    }

    span {
      padding: 0 33px;
      margin-left: -35px;
    }
  }
}

.order__comment-title {
  margin-bottom: 35px;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    span {
      padding: 0 22px;
      margin-left: -23px;
    }

    &::before {
      top: 15px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;

    &::before {
      top: 26px;
    }

    span {
      padding: 0 33px;
      margin-left: -35px;
    }
  }
}
