.order__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
  margin-left: 20px;
}

.order__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
}

.order__catdata {
  margin-top: 39px;
  border: none;
  display: flex;
  flex-direction: column;
}

.order .input-text {
  margin: 14px 0;
}

.order__form {
  margin: 0;
  padding: 0;
}

.order__result {
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  margin-bottom: 45px;
}

.order__choice {
  margin-bottom: 13px;
}

.order__comments {
  margin-right: 20px;
  border: none;
  margin-bottom: 22px;
}

.order__contacts {
  border: none;
  margin-bottom: 23px;
}

.order__contacts-title {
  margin-bottom: 35px;
}

.order__additional {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 34px;
}

.order__additional-title {
  margin-bottom: 34px;
}

.order__button {
  margin-bottom: 21px;
}

.order__required {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
}
