.page-header__container {
  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.page-header__tagline {
  @media (min-width: @tablet-width) {
    margin-bottom: 545px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}


.page-header--index {
  @media (min-width: @desktop-width) {
    width: 100%;
    background: url("../img/index_green_cat_desktop.jpg") no-repeat right, linear-gradient(to right, @base-white 50%, @cat-green 50%);
  }
}
