.page-footer {
  background-color: @base-gray;
}

.page-footer__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 27px;
    padding-bottom: 62px;
  }
}

.page-footer__about {
  margin-top: 32px;
  margin-bottom: 30px;
}

.page-footer__htmlacademy {
  @media (min-width: @tablet-width) {
    margin-left: 10px;
  }
}
