.page-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 17px;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
}

.page-header__nav {
  text-align: right;
}
