.present {
  background-color: #68b738;
  margin: 35px 20px;
  background:
  url("../img/present.png") 50% 59px no-repeat,
  url("../img/catalog-bg.png") no-repeat,
  url("../img/catalog-cat.png") no-repeat;
  width: 279px;
  height: 289px;

  &__description {
    padding-top: 187px;
    width: 161px;
    margin-left: 58px;
    text-align: center;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
}
