.programm-options__item {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: @base-gray;
  padding-top: 30px;
  padding-bottom: 22px;
}

.programm-options__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programm-options__description {
  margin-left: 20px;
  margin-right: 33px;
}

.programm-options__link {
  margin-left: 20px;
  text-transform: uppercase;
  line-height: 16px;
  color: @base-black;
}
