.programm-options__list {
  @media (min-width: @desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.programm-options__item {
  position: relative;
  padding: 24px 33px 22px 20px;
  margin-bottom: 20px;
  background-color: @base-gray;

  @media (min-width: @tablet-width) {
    padding: 77px 62px 57px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 41px 51px 59px 52px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: @base-green;
    border-radius: 50%;
    top: 35px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      top: 92px;
      right: 62px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      right: 418px;
    }
  }
}

.programm-options__item--slim {
  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    width: 36px;
    height: 50px;
    background-image: url("../img/cat-stay.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 30px;
    left: 26px;

    @media (min-width: @tablet-width) {
      width: 140px;
      height: 194px;
      left: 480px;
      top: 80px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 97px;
      left: 67px;
      top: 41px;
    }
  }
}

.programm-options__item--another {
  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../img/cat-walk.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 45px;
    left: 10px;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 112px;
      left: 410px;
      top: 140px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 56px;
      left: 33px;
      top: 67px;
    }
  }
}

.programm-options__title {
  text-transform: uppercase;
  margin-left: 91px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  width: 137px;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    margin-left: 0;
    width: 210px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    margin-left: 214px;
  }
}

.programm-options__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;
  margin-bottom: 19px;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 23px;
    border-bottom: 1px solid @mobile-border;
  }

  @media (min-width: @tablet-width) {
    color: @base-black;
    font-size: 16px;
    line-height: 18px;
    width: 340px;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 467px;
    line-height: 24px;
    margin-bottom: 27px;
  }
}

.programm-options__link {
  text-transform: uppercase;
  line-height: 16px;
  color: @base-black;
  position: relative;
  transition: opacity 0.2s;
  padding-right: 47px;

  &::after {
    content: "";
    width: 32px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-position 0.2s;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: -8px center;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    background-position: left center;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 57px;
  }

  @media (min-width: @tablet-width) {
    padding-right: 60px;
  }
}
