.promo__cat-background {
  background-color: @base-green;
  background-image: url("../img/index_green_cat.jpg");
  background-repeat: no-repeat;
  padding-top: 27px;
  background-size: contain;

  @media (min-width: @tablet-width) {
    background: none;
  }
}

.promo__header {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    color: @base-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 87px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    color: @base-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 41px;
  }
}

.promo__text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    color: @base-black;
    text-align: left;
    margin-left: 87px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    color: @base-black;
    text-align: left;
    margin-left: 80px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 52px;
  }
}

.promo__link {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-left: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-bottom: 267px;
  }
}


.promo__image {
  @media (min-width: @tablet-width) { /*временно скрываю*/
    display: none;
    order: 2;
  }
}
