.promo__header {
  color: @base-white;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.promo__text {
  color: @base-white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 29px;
}

/*то ли величины в макете кривые, то ли что, но графика максимально криво отображается*/
.promo__cat-background {
  background-color: @base-green;
  padding-top: 27px;
  background-image: url("../img/index_green_cat.jpg");
  background-repeat: no-repeat;
  height: 302px;
  text-align: center;
  background-size: 100% auto;
  background-position: center;
}

.promo__link {
  margin-bottom: 20px;
}
