.slider__switch {
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}


.slider__toggle {
  display: flex;
  margin-left: 35px;
  margin-right: 35px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-right: 70px;
  }
}
