.slider__switch {
  border-color: transparent;
  box-sizing: border-box;
  background: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted @opacity-black;
  }
}

.slider__toggle {
  display: flex;
  margin-left: 38px;
  margin-right: 38px;
  margin-top: -2px;
  justify-content: space-between;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 86px;
      height: 14px;
      border: 1px solid @border-gray;
      box-sizing: border-box;
      border-radius: 6px;
      background-color: @base-white;
      top: 4px;
      left: 59px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 36px;
      height: 6px;
      border-radius: 6px;
      background-color: @base-green;
      top: 8px;
      left: 65px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-right: 63px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 426px;
      height: 6px;
      border-radius: 6px;
      background-color: @mobile-border;
      top: 14px;
      left: 74px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @base-green;
      top: -1px;
      left: 269px;
      border: 13px solid @base-white;
      box-shadow: 0 0 0 1px @border-gray, 0 1px 3px @slider-shadow;
      cursor: pointer;
    }

    &:hover::after {
      box-shadow: 0 0 0 1px @border-gray, 0 2px 4px @active-shadow;
    }

    &:active::after {
      box-shadow: 0 0 0 1px @base-green, 0 3px 5px @active-shadow;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 363px;
    margin-left: 155px;
    width: 577px;
  }
}

.slider__switch--before:hover,
.slider__switch--after:hover {
  border-bottom: 1px solid @opacity-black;
}

.slider__switch--before:active,
.slider__switch--after:active {
  border-color: transparent;
}
