.social {
  &__list {
    display: flex;
  }

  &::before {
  content: "";
  width: 280px;
  display: block;
  height: 1px;
  background: #d9d9d9;
  margin-top: 32px;
  margin-left: 20px;
  }

  &::after {
    content: "";
    width: 280px;
    display: block;
    height: 1px;
    background: #d9d9d9;
    margin-left: 20px;
    margin-bottom: 22px;
  }
}
