.social {
  @media (max-width: @mobile-width-only) {
    width: 280px;
    border-top: 1px solid @mobile-border;
    border-bottom: 1px solid @mobile-border;
  }
}

.social__wrapper {
  padding: 12px 0 17px 0;

  @media (min-width: @tablet-width) {
    width: 129px;
    margin-left: 30px;
    padding-top: 18px;
  }
}

.social__button--vk svg,
.social__button--instagram svg {
  fill: @icon-gray;
}

.social__button--vk:hover svg,
.social__button--instagram:hover svg {
  fill: @base-green;
}

.social__button--facebook:hover svg {
  stroke: @base-green;
}

.social__button:active .social__svg {
  fill: @opacity-green;
}

.social__button:active .social__facebook {
  stroke: @opacity-green;
}

.social__button {
  &--vk svg {
    padding-top: 5px;
    width: 32px;
    height: 22px;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  &--instagram svg {
    width: 22px;
    height: 16px;
  }

  &--facebook svg {
    stroke: @icon-gray;
    width: 15px;
    height: 20px;
  }

  @media (min-width: @tablet-width) {
    &--vk svg {
      width: 40px;
      height: 39px;
      margin-top: 10px;
      margin-bottom: -10px;
    }

    &--instagram svg {
      width: 23px;
      height: 23px;
    }

    &--facebook svg {
      width: 20px;
      height: 30px;
    }
  }
}

.social__list {
  display: flex;
  align-items: baseline;
}

.social__button--vk {
  margin-left: 70px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.social__button--instagram {
  margin-left: 26px;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
  }
}

.social__button--facebook {
  margin-left: 34px;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }
}
